/* COLOR SCHEME - LIGHT-SILVER HUES
  JET - #342E37
  BLEU DE FRANCE - #3C91E6
  JUNE BUD - #9FD356
  CORAL - #FA824C
  WHITE - #FAFFFD

  #232E37
  #56B3FF
  #A2D5FF
  #2B597F
  #82ABCC
*/

/* DO ZROBIENIA
- wycentrować materiał na landing-page'u względem 100vh

- może na tło dać linie kodu idące ukośno, dużo rzadziej niż ma to miejsce teraz
- zamienic animation na transition, żeby kolor stopniowo wracał po końcu hovera

- może spróbować zrobić jakieś animacje używając < / >, może udałoby się z tych znaczków zrobić p i k i jakieś zmiany miedzy nimi
*/

body
{
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
}

#container
{
  padding-top: 0px;
  /*background-color: #60AFFF;*/
  /*background-image: url("../img/background-pattern.png");*/
  /*background: linear-gradient(to bottom right,#3C91E6 ,#73A9C2);*/
  /*background: linear-gradient(to bottom right, #342E37, #3C91E6, #FA824C, #9FD356);*/
  /*background: linear-gradient(to top left, #232E37, #2B597F, #56B3FF);*/
}

#landing-page
{
  margin: 0;
  padding-top: 120px;
  background: linear-gradient(to top left, #232E37, #2B597F, #56B3FF);
  min-height: 100vh;
}

.container-fluid
{
  width: 1180px;
  height: 50px;
  padding: 0;
}

.navbar-default
{
  background-color: #232E37;
  background-color: rgba(35,46,55,0.8);
  border: none;
  border-radius: 0;
  box-shadow: 2px 0px 5px rgba(0,0,0,0.5);
  height: 50px;
}

.navbar-default .navbar-nav>li>a
{
  color: #FAFFFD;
}

.navbar-default .navbar-nav>li>a:hover
{
  color: #56B3FF;
  animation: color-change 0.2s;
}

.navbar-default .navbar-nav>li>a::before
{
  content: '';
  display: block;
  height: 2px;
  width: 0%;
  background-color: #56B3FF;
  margin-top: -15px;
  margin-bottom: 13px;

  transition: ease-in-out 0.2s;
}

.navbar-default .navbar-nav>li>a:hover::before
{
  width: 100%;
}

.blue-hover
{
  color: #FAFFFD;
  transition: ease-in-out 1s;
}

.navbar-default .navbar-brand
{
  color: #FAFFFD;
  transition: ease-in-out 1s;
}

.navbar-default .navbar-brand:hover
{
  color: rgba(255, 255, 255, 0);
}

.navbar-default .navbar-brand:hover .blue-hover
{
  color: #56B3FF;
}

.nav
{
  float: right;
  text-transform: lowercase;
  font-size: 16px;
  letter-spacing: 2px;
}


.jumbotron
{
  width: 1180px;
  background-color: rgba(0,0,0,0);
  margin-left: auto;
  margin-right: auto;
  text-align; center;
  padding: 0px 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.jumbotron>.jumbo-header
{
  margin: 0 auto 80px auto;
  width: 366.66px;
  text-align: center;
  color: #2B597F;
  text-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}

.jumbo-header-span
{
  color: #82ABCC;
  transition: all ease-in-out 0.5s;
}

.jumbo-header:hover .jumbo-header-span
{
  margin-left: 100px;
  margin-right: 100px;
}

#container>#landing-page>.row
{
  margin-top: 0px;
  padding-top: 0px;
  margin-left: auto;
  margin-right: auto;
  width: 1180px;
  min-height: 660px;
}

.introduction-item
{
  background-color: #232E37;
  margin-left: 40px;
  width: 366.66px;
  height: 50px;
  padding-left: 5px;
  padding-right: 5px;
}

.introduction-item:nth-child(1)
{
  margin-left: 0px;
}

.introduction-header
{
  font-family: 'Work Sans', sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 2px;
  color: #FAFFFD;
  margin: 0;
  line-height: 50px;
}

.introduction-content
{
  height: 400px;
  background-color: #FAFFFD;
  width: 100%;
  text-transform: uppercase;
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
  opacity: 0.9;
}

.int-un-list
{
  width: 100%;
  height: 100%;
  padding-left: 40px;
  padding-right: 40px;
  list-style-type: none;
}

.introduction-list
{
  letter-spacing: 2px;
  padding-top: 0px;
  padding-bottom: 0px;
  font-size: 16px;
  text-align: center;
  color: #232E37;
}

.introduction-list:nth-child(1)
{
  padding-top: 40px;
  padding-bottom: 0px;
}

.list-separator
{
  margin-top: 27px;
  margin-bottom: 27px;
}


#about-me
{
  min-height: 1000px;
}

@keyframes color-change
{
    0% { color: #FAFFFD; }
    100% { color: #56B3FF; }
}

@keyframes brand-color-change
{
  0% { color: #FAFFFD; }
  100% { color: rgba(255, 255, 255, 0); }
}

@media (max-width: 1199px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }


  .container-fluid
  {
    width: 100% !important;
    padding-left: 50px !important;
    padding-right: 50px !important;
  }
}
